<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://jcp.org"
  xmlns:xsi="http://w3.org"
  xsi:schemaLocation="http://jcp.org 
                      http://jcp.org/web-app_3_1.xsd"
  version="3.1">

  <display-name>Barcito fatima</display-name>

  <welcome-file-list>
    <welcome-file>usuario/login.jsp</welcome-file>
  </welcome-file-list>

  <error-page>
    <error-code>400</error-code>
    <location>/error</location>
  </error-page>
  
  <error-page>
    <exception-type>javax.servlet.ServletException</exception-type>
    <location>/error</location>
  </error-page>

</web-app>
